.podmenu-footer{
    color:rgb(95, 93, 93);
    text-decoration: none;
    margin-left:20px;
    font-size:23px;
    font-family:'Times New Roman', Times, sans-serif;
    display:inline-block;
}
.podmenu-footer:hover{
    color:rgb(119, 118, 118);
}
.Information{
    display:none;
}
.menu-footer{
    margin-left:50px;
    width: 600px;
    display: inline-block;
}
.programs{
    margin-top: 50px;
    margin-left:5%;
    margin-right:10%;
}
.block{
    box-shadow: 0 0 10px slategrey;
    width: 200px;
    text-align: center;
    margin-left:40px;
    background:slategrey;
    padding:15px;
    display:inline-block;
    text-decoration:none;
    color:black;
    height: 300px;
    margin-top: 40px;
    margin-right:40px;
    vertical-align: top;
}
.block h2{
    margin-top:70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:26px;
    opacity:0.7;
}
.block:hover{
    background:lightslategrey;
}
.block img{
    opacity:0.7;
    width: 120px;
}
#loading{
	position: fixed;
    width: 100%;
    height: 100vh;
	background: #fff url('https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif') no-repeat center center;
    background-size: 30%;	
    z-index: 99999;
    transform: translateY(-25px);
    overflow:hidden; 
}
#loading ~ body{
    background:black;
}
.close_m{
    border-right:none;
    background:inherit;
}
.active_m{
    border-right:none;
    background:lightgray;
}
.disable_m{
    background:inherit;
    border-right:1px solid gray;
}
.container{
    overflow:hidden;
    padding-bottom:15px;
}

.close_div{
    position: absolute;
    left:31%;
    top:810px;
    transition:0.5;
    transition-delay: 0.2s;    
}
.close span{
    position: absolute;
    margin-top: -1px;
    left: 50%; 
    margin-left: -14px;
    width: 30px;
    height: 2px;
    background-color: #000; 
}
.close{
    position: relative;
    float:left;
    background:#fff;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close span::before{
    content:"";
    position: absolute;
    background: #000;
    height: 2px;
    width: 20px;
    bottom: 3px;
    transform:rotate(-20deg);
    transition: 0.2s;
}
.close span::after{
    content:"";
    position: absolute;
    background: #000;
    height: 2px;
    width: 20px;
    top: 3px;
    transform:rotate(20deg);
    transition:0.2s;
}
.close_div_active{
    left:0;
    top:860px;
    transition:0.4s;
}
.close_active span:after{
    transform:rotate(-15deg) translateX(7px) translateY(2px);
    height: 2px;
    width: 20px;
    bottom: 3px;
}
.close_active span:before{
    transform:rotate(17deg) translateX(7px) translateY(-2px);
    height: 2px;
    width: 20px;
    bottom: 3px;
}
.contentX_active{
    width: 90% !important;
    margin-right: 3%;
    margin-left: 0.7%;
    box-shadow:0 0 30px!important;
}
.menu-close{
    margin-left:-29%;
}
.txt-in-menu_active{
    display:none;
}
.txt-in-menu{
    font-family:sans-serif;
    font-weight: 700;
}
.menu-close img{
    margin-left:81%;
    transition: 0.2s;
    transition-delay:0.3s;
    height: 57px;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    background: #282828; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}

.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav {
  background-color: #fff;
  height: 50px;
  
}
.menu-nav__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}
.menu-nav__link {
  transition: 0.5s;
  transform-origin: right center;
  transform: translateX(50%);
  opacity: 0;
}
.menu-nav__link_active {
  transform: translateX(0%);
  opacity: 1;
}

.link2{
    text-decoration: none;
    color:black;
    
    padding-right: 5px;
    transition: 0.5s;
}
.link2:hover{
    text-decoration: underline;
}
.men {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:40px;
  right:10px;
  z-index:6;

}
.men-nav a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  transition: 1s;
  font-size:17px;
  font-weight: 600;
}
.men-nav {
  transition: 0.2s;
  display:none;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.men-nav_active {
  display:block;
}

.opis{
    font-size:20px;
    color:#353421;
    padding:25px auto;
}

.Description{
    font-size:20px;
}

.contentX{
    width:64%;
    min-height:207px;
    float:left;
    margin-top:40px;
    background: lightgray;
    margin-right:0px;
    box-shadow:10px 0 15px;
    transition: 0.6s;
    display: none;
}

.download-content{
    border:1px solid;
    width: 1000px;
    margin-top:20px;
    margin-bottom:20px;
    background:#dee2e5;
    font-family:sans-serif;
}

.sa-download{
    border:1px solid gray;
    background: white;
    padding:5px;
    text-decoration:none;
    text-transform: uppercase;
    font-size:20px;
    color:black;
    font-family:sans-serif;
    display:block;
    width: 400px;
    transition:0.3s;
    cursor:pointer;
}

.sa-download:hover{
    background:green;
    border:1px solid green;
    color:white;
}

.back2:hover{
    background: orangered;
    transition:0.3s;
    border:orangered;
}

iframe,
video{
    margin-bottom:50px;
    width: 70%;
    max-height: 600px;
}

.download{
    text-decoration:none;
    color:black;
    font-size:30px;
    transition:0.3s;
    cursor:pointer;
    padding: 5px;
    border-radius: 5%;
    box-shadow: 0 0 4px;
    background: gray;
}

.download:hover{
    box-shadow:0 0 4px #282828;
    background:#282828;
    color:lightgray;
    transition:0.3s;
}

.table{
    text-align:center;
    margin-top:45px;
    margin-bottom:30px;
}

.fix:after {
    content: "";
    display: table;
    clear: both;
}

.menu{
    width: 36%;
    float:left;
    margin-top:40px;
    min-height:140px;
    box-shadow:0 0 15px;
    display:block;
    transition:0.6s;
}

.menu hr{
    padding:0px;
    margin:0px;
}
.pod-menu{
    font-size:23px;
    padding-left:7px;
    padding-top:7px;
    font-weight: 600;
    text-decoration:none;
    color:black;
    transition:0.3s;
    margin-bottom: 0;
    border-bottom:1px solid gray;
}
.pod-menu:hover{
    background:lightgray!important;
    transition:0.6s; 
}

.pod-text{
    text-decoration:none;
    color:black;
    padding-left:7px;
    padding-top:7px;
}

.logo{
    font-size:60px;
    border-top:4px solid black;
    border-bottom:4px solid black;
    text-align:center;
    width:650px;
    height:100px;
    margin:auto;
    padding-top:20px;
    margin-top:25px;
    font-family: sans-serif;
}


.text-end{
    font-size:20px;
    text-align:right;
    margin-right:5px;
    width: 600px;
    display: inline-block;
    float:right;
}
.text-end a{
    color:black;
}

.header1{
text-decoration:none;
color:black;

}

footer{
    background-color: rgba(243, 245, 238, 0.51);
    margin-top:342px;
    height: 70px;
    border-top:1px solid;
    border-bottom:1px solid;
}

body{
    margin:0;
    background-image: linear-gradient(45deg, #808080, #E6E6E6);
}

body *::selection {
    color: white;
    background: black;
}

.buttons {
    text-align: center;
    margin-top:65px;
}

.buttons2{
    display:inline-block;
    margin-left:15px;
}

.button {
    border: 3px solid;
    font-size: 24px;
    color: #1c1a30;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    font-family: Arial, sans-serif;
    position: relative;
    transition: .5s;
    overflow: hidden;
}
.button::before,
.button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: crimson;
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}
.button::after {
    opacity: 1;
    transition-delay: .2s;
}
.button:hover {
    border:3px double crimson;
    color: white;
}

.button:hover::before,
.button:hover::after {
    left: 0;
}

.place{
    border:3px double;
    background-color: gold;
    color: #38335d;
}

@media screen and (max-width: 1045px) and (min-width:991px){
    .close_div{
        top:730px;
    }
    .download-content{
        width: 100%;
    }
}
@media screen and (max-width:990px){
    .contentX{
        float:none;
        width: 100%;
    }
    .menu{
        float:none;
        width: 100%;
        text-align:center;
        margin:auto;
        min-height: 250px;
        background: rgba(85, 83, 83, 0.3);
    }
    .pod-menu{
        font-size: 45px;
    }
    #content video{
        width: 100%;
        height: 100%;
        margin-left:0;
    }
    .button{
        font-size:45px;
        width: 400px;
        height: 100px;
        padding-top:25px;
        margin-top:15px;
        margin-bottom:25px;
    }
    .download{
        font-size:55px;
        padding-left:35px;
        padding-right:65px;
        margin-top:35px;
        margin-right:0px;
    }
    .BGI-Project{
        height: 80px;
    }
    .sa-download{
        font-size:45px;
        width: 800px;
        height: 100px;
        padding-top:40px;
        font-family:monospace;
    }
    .back{
        font-size:40px;
        padding-right:70px;
        padding-left:40px;
    }
    .but{
        display:block;
        float:none;
        margin-top:25px;
        margin-bottom:25px;
        margin-left: 750px;
    }
    .logo{
        font-size: 120px;
        padding-bottom:70px;
        width: 100%;
    }
    .header1{
        padding-top: 0;
    }
    .contentX h1{
        font-size:47px;
    }
    .menu img{
        height: 100px;
    }
    .contentX p{
        font-size:40px;
    }
    #page1 p,
    #page1 h2,   
    #page2 p, 
    #page3 p{
        font-size:25px;
    }
    .gnav1,
    .gnav2,
    .gnav3{
        font-size:30px;
    }
    .Description{
        font-size:30px;
    }
    section h1{
        font-size:35px;
    }
    .table{
        margin-bottom:50px;
    }
    .opis{
        font-size:40px;
    }
    .contentX iframe{
        width: 90%;
        height: 600px;
        margin:5%;
    } 
    .butt{
        font-size:55px;
        width: 550px;
        display:block;
        margin:25px;
    }
    .download-content{
        width: 950px;
    }
    .close{
        display: none;
    }
    .menu-btn{
        display:none;
    }
    .Information{
        display:block;
    }
    .pod-menu:hover{
        background:#9b9b9b!important;
        transition:0.3s;
    }
    .download{
        padding:10px;
    }
    .menu-footer{
        width: 100%;
        margin-left: 0;
        text-align: center;
    }
    .text-end{
        font-size: 40px;
        width: 100%;
    }
    .podmenu-footer{
        font-size: 45px;
        display: inline-block;
        margin-left: 50px;
    }
    footer{
        height: 180px;
    }
    .block{
        height: 600px;
        width: 400px;
        margin-right:0;
    }
    .block h2{
        font-size:55px;
        margin-top:150px;
    }
    .block img{
        width: 220px;
    }
    .programs{
          
    }
}